body {

    background-image: url("images/healthytable.jpg");
    background-repeat: no-repeat;
    background-size:  cover; /*auto displays image at its default size, cover fills the whole page, contain scales image to the outer edges without cropping or stretching */
    background-position: center;
    background-attachment: fixed;
    position: relative; 
    color:firebrick;
    padding-top: 20%;
    padding-left: 15%;
    font-size: x-large;
    
    
}
 image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
    h1 {

      margin-left: 2%;    
      color: chocolate;


}

a {
    color: rgb(136, 43, 199);
}

.box {
    border: 15px solid green;
    outline: 5px solid blue;
    display:inline-block;
    padding: 5px;
    
    
}